.main-head{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
td{
    padding: 10px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
.no-bord{
    border: 0px;
}
#peroidic-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.blueish{ 
    background-color: rgb(0, 74, 119);
    color: aliceblue;
}
.redish{ 
    background-color: rgb(98, 46, 57);
    color: aliceblue;
}
.greenish{
    background-color: rgb(46, 75, 69);
    color: aliceblue;
}
.brownish{
    background-color: rgb(80, 61, 27);
    color: aliceblue;
}
.purplish{
    background-color: rgb(67, 60, 101);
    color: aliceblue;
}
.grayish{
    background-color: rgb(70, 71, 76);
    color: aliceblue;
}
.goldenish{
    background-color: rgb(92, 57, 39);
    color: aliceblue;
}
